<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <%= htmlWebpackPlugin.options.dnsPrefetch %>

        <title><%= htmlWebpackPlugin.options.title %></title>

        <meta name="theme-color" content="#86d1f1">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="shortcut icon" href="data:;base64,=">
        <!--<link rel="manifest" href="/manifest.json">-->

        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400" rel="stylesheet">
        
        <script type="text/javascript">if(window ===undefined) {window={}}
        window._timings = {"domLoading": performance.now()}</script>
        <%= htmlWebpackPlugin.files.webpackManifest %>

    </head>
    <script src="/spaceworker.js"></script>
    <body>
        <!--[if lt IE 8]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <noscript>you have to enable Javascript to use this Website</noscript>
        <div id="root"></div>
    </body>
    <script type="text/javascript">window._timings.domInteractive = performance.now();console.log("Time from Loading to Interactive",window._timings.domInteractive - window._timings.domLoading, "ms");</script>
</html>